body,
html {
  background-color: #F0F0F0;
  height: 100%;
  min-height: 100%;
  overflow: hidden;
}
.slides {
  height: 100%;
  width: 100%;
  -webkit-perspective: 500;
  /* Safari and Chrome */

  perspective: 500px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.slide {
  position: absolute;
  height: 600px;
  width: 800px;
  padding: 30px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  border: 20px solid #ffffff;
  cursor: pointer;
  color: #666666;
  background: -moz-radial-gradient(center, ellipse cover, #ffffff 0%, #e0e0e0 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #ffffff), color-stop(100%, #e0e0e0));
  background: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%, #e0e0e0 100%);
  background: -o-radial-gradient(center, ellipse cover, #ffffff 0%, #e0e0e0 100%);
  background: -ms-radial-gradient(center, ellipse cover, #ffffff 0%, #e0e0e0 100%);
  background: radial-gradient(ellipse at center, #ffffff 0%, #e0e0e0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e0e0e0', GradientType=1);
  opacity: 0;
}
.slide h1 {
  font-size: 70px;
  text-align: center;
  margin: 20px 0 80px;
}
pre {
  padding: 20px;
}
/*     presentation controls     */
.slides-controls {
  position: fixed;
  z-index: 1111;
}
.slides-controls .btn {
  font: bold 14px/18px Tahoma, Arial;
  cursor: pointer;
  text-decoration: none;
  color: #464646;
  display: block;
  float: left;
  margin-right: 1px;
  box-shadow: inset rgba(0, 0, 0, 0.1) 0 1px 0, inset rgba(255, 255, 255, 0.7) 0 2px 0, inset rgba(255, 255, 255, 0.7) 0 -1px 0, inset rgba(255, 255, 255, 0.7) 1px 0 0, inset rgba(255, 255, 255, 0.7) -1px 0 0, rgba(0, 0, 0, 0.3) 0 3px 0;
  -moz-box-shadow: inset rgba(0, 0, 0, 0.1) 0 1px 0, inset rgba(255, 255, 255, 0.7) 0 2px 0, inset rgba(255, 255, 255, 0.7) 0 -1px 0, inset rgba(255, 255, 255, 0.7) 1px 0 0, inset rgba(255, 255, 255, 0.7) -1px 0 0, rgba(0, 0, 0, 0.3) 0 3px 0;
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.1) 0 1px 0, inset rgba(255, 255, 255, 0.7) 0 2px 0, inset rgba(255, 255, 255, 0.7) 0 -1px 0, inset rgba(255, 255, 255, 0.7) 1px 0 0, inset rgba(255, 255, 255, 0.7) -1px 0 0, rgba(0, 0, 0, 0.3) 0 3px 0;
  padding: 2px 10px;
  min-width: 10px;
  text-align: center;
  position: relative;
  text-shadow: #fff 0 1px 0;
  background: #cdcdcd;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, 0.8)), to(rgba(200, 200, 200, 0.9)));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.8), rgba(200, 200, 200, 0.9));
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.8), rgba(200, 200, 200, 0.9));
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.8), rgba(200, 200, 200, 0.9));
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.8), rgba(200, 200, 200, 0.9));
}
.slides-controls .btn:hover {
  box-shadow: inset rgba(0, 0, 0, 0.1) 0 1px 0, inset rgba(255, 255, 255, 0.7) 0 2px 0, inset rgba(255, 255, 255, 0.7) 0 -1px 0, inset rgba(255, 255, 255, 0.7) 1px 0 0, inset rgba(255, 255, 255, 0.7) -1px 0 0, inset #ffffff 0 0 15px, rgba(0, 0, 0, 0.2) 0 3px 0;
  -moz-box-shadow: inset rgba(0, 0, 0, 0.1) 0 1px 0, inset rgba(255, 255, 255, 0.7) 0 2px 0, inset rgba(255, 255, 255, 0.7) 0 -1px 0, inset rgba(255, 255, 255, 0.7) 1px 0 0, inset rgba(255, 255, 255, 0.7) -1px 0 0, inset #ffffff 0 0 15px, rgba(0, 0, 0, 0.2) 0 3px 0;
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.1) 0 1px 0, inset rgba(255, 255, 255, 0.7) 0 2px 0, inset rgba(255, 255, 255, 0.7) 0 -1px 0, inset rgba(255, 255, 255, 0.7) 1px 0 0, inset rgba(255, 255, 255, 0.7) -1px 0 0, inset #ffffff 0 0 15px, rgba(0, 0, 0, 0.2) 0 3px 0;
}
.arrow {
  width: 100px;
  height: 2px;
  background-color: #666;
  position: relative;
}
.arrow span {
  margin-top: -5px;
  margin-left: -5px;
  position: absolute;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 6px solid #666;
}
/*=========================*/
/*         Slides          */
/*=========================*/
/*------   slide 1   ------*/
#slide-1 img {
  display: block;
  width: 300px;
  margin: 20px auto;
}
/*------   slide 2   ------*/
#slide-2 .backbone {
  width: 50%;
}
#slide-2 .knockout {
  width: 30%;
  float: right;
}
#slide-2 .dojo {
  margin-top: 5%;
  margin-left: 30%;
  width: 25%;
}
#slide-2 .ember {
  margin-left: 10%;
  width: 20%;
}
#slide-2 .angular {
  margin-top: 5%;
  margin-right: 15%;
  float: right;
  width: 40%;
}
/*------   slide 3   ------*/
#slide-3 .row {
  margin: 40px 0 120px 135px ;
}
#slide-3 .plus {
  font-size: 120px;
  vertical-align: 30px;
  margin-right: 10px;
}
#slide-3 .require {
  float: left;
  vertical-align: top;
}
#slide-3 .flight-logo {
  display: inline-block;
  width: 25%;
  margin-top: -5px;
}
#slide-3 .flight-logo img {
  width: 80%;
  margin: 0 auto;
  display: block;
}
#slide-3 .flight-logo h2 {
  font-size: 40px;
  margin-top: -30px;
  text-align: center;
}
#slide-3 p {
  font-size: 60px;
  margin: 70px 70px 0;
}
#slide-3 .advice {
  float: left;
}
#slide-3 .regstry {
  float: right;
}
#slide-3 .advice-arrow {
  transform: rotate(120deg);
  margin-left: 170px;
}
#slide-3 .regstry-arrow {
  transform: rotate(60deg);
  margin-right: 170px;
  float: right;
}
/*------   slide 4   ------*/
#slide-4 p {
  font-size: 100px;
  line-height: 120px;
  color: #333333;
  text-align: center;
}
#slide-4 p span {
  color: #CC0000;
}
#slide-4 .split {
  width: 400px;
  margin: 60px auto 40px;
  height: 4px;
  background-color: #777777;
}
/*------   slide 5   ------*/
#slide-5 pre {
  font-size: 18px;
  padding-left: 15px;
  background-color: #FFFFFF;
}
/*------   slide 6   ------*/
#slide-6 ul {
  padding: 50px;
  font-size: 50px;
}
#slide-6 ul li {
  margin: 0 0 100px 0;
}
/*------   slide 7   ------*/
#slide-7 .cards {
  float: right;
}
#slide-7 h2 {
  margin: 270px 0 0 90px;
}
/*------   slide 8   ------*/
#slide-8 pre {
  font-size: 24px;
  line-height: 30px;
  padding-left: 15px;
  background-color: #FFFFFF;
}
/*------   slide 9   ------*/
#slide-9 ul {
  padding: 50px;
  font-size: 50px;
}
#slide-9 ul li {
  margin: 0 0 100px 0;
}
/*------   slide 10   ------*/
#slide-10 img {
  margin-top: -30px;
}
/*------   slide 11   ------*/
#slide-11 h2 {
  font-size: 40px;
  line-height: 50px;
  margin-top: 240px;
  text-align: center;
}
/*------   slide 12   ------*/
#slide-12 h2 {
  font-size: 40px;
  line-height: 50px;
  margin-top: 260px;
  margin-bottom: 200px;
  text-align: center;
}
#slide-12 a {
  display: block;
  font-size: 30px;
  line-height: 40px;
}
